---
import SideMenuItem from './SideMenuItem.astro';


---

<nav class="flex flex-col flex-1 gap-2 p-2 overflow-y-auto">
    <ul class="flex flex-col gap-2 p-2 rounded-lg bg-theme-white shadow-sm shadow-gray-800">
        GENERAL
        <SideMenuItem href="/" icon="/src/icons/monitoring.png" text="Monitoring"/>
    </ul>
    <ul class="flex flex-col gap-2 p-2 h-full rounded-lg bg-theme-white shadow-sm shadow-gray-800">
        CONTROLLERS
        <SideMenuItem href="/controllers/1"  icon="/src/icons/controller.png" text="ID 1"/>
        <SideMenuItem href="/controllers/2"  icon="/src/icons/controller.png" text="ID 2"/>

    </ul>
</nav>