---
import MonitoringItem from "./MonitoringItem";
---


<div id="monitoringRow1" class="grid grid-cols-3 bg-theme-cream rounded-lg w-full h-full p-1 justify-items-center gap-5">
    <MonitoringItem id="1" client:visible/>
    <MonitoringItem id="2" client:visible/>
    <MonitoringItem id="3" client:visible/>
    <MonitoringItem id="4" client:visible/>
    <MonitoringItem id="5" client:visible/>
    <MonitoringItem id="6" client:visible/>

</div>